<ion-header>
	<ion-toolbar color="medium">
		<ion-title>Characters</ion-title>
		<ion-progress-bar value="0.25" buffer="0.8"></ion-progress-bar>
		<ion-progress-bar type="indeterminate"></ion-progress-bar>
		<ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>

	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item button detail lines="inset" *ngFor="let character of characters | async"
			(click)="openDetails(character)">
			{{ character.name }}
		</ion-item>
	</ion-list>

</ion-content>