<ion-header>
	<ion-toolbar color="medium">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/quotes"></ion-back-button>
		</ion-buttons>
		<ion-title>By: {{ quote?.author }}</ion-title>

		<ion-buttons slot="end">
			<ion-button (click)="unfavouriteQuote()" *ngIf="isFavourite">
				<ion-icon name="thumbs-up" slot="icon-only"></ion-icon>
			</ion-button>
			<ion-button (click)="favouriteQuote()" *ngIf="!isFavourite">
				<ion-icon name="thumbs-up-outline" slot="icon-only"></ion-icon>

			</ion-button>
		</ion-buttons>
		<ion-progress-bar value="0.25" buffer="0.8"></ion-progress-bar>
		<ion-progress-bar type="indeterminate"></ion-progress-bar>
		<ion-progress-bar type="indeterminate"></ion-progress-bar>

	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card *ngIf="quote">
		<ion-list>
			<ion-item>

				{{ quote.quote }}
			</ion-item>
		</ion-list>
	</ion-card>
</ion-content>