<ion-header>
	<ion-toolbar color="medium">
		<ion-title>Episodes</ion-title>
		<ion-progress-bar value="0.25" buffer="0.8"></ion-progress-bar>
		<ion-progress-bar type="indeterminate"></ion-progress-bar>
		<ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>

	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-list>
		<ion-item button detail lines="inset" *ngFor="let episode of episodes | async" (click)="openDetails(episode)">
			{{ episode.title }}
		</ion-item>
	</ion-list>

</ion-content>