ion-progress-bar {
    --buffer-background: slategray;
    --progress-background: black;
  }

  ion-card {
    border-left: 3px solid blue
   }

.img img {
    max-height:175px;
    height: auto;
    margin:0 auto;
    border-radius: 15%;
    box-shadow: 0 0 50px blue;
   
}