<ion-header>
	<ion-toolbar color="medium">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/characters">
			</ion-back-button>
		</ion-buttons>
		<ion-title>{{character?.name}}</ion-title>

		<ion-buttons slot="end">
			<ion-button (click)="unfavouriteCharacter()" *ngIf="isFavourite">
				<ion-icon name="thumbs-up" slot="icon-only"></ion-icon>
			</ion-button>
			<ion-button (click)="favouriteCharacter()" *ngIf="!isFavourite">
				<ion-icon name="thumbs-up-outline" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-progress-bar value="0.25" buffer="0.8"></ion-progress-bar>
		<ion-progress-bar type="indeterminate"></ion-progress-bar>
		<ion-progress-bar type="indeterminate"></ion-progress-bar>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-card *ngIf="character">

		<ion-list>
			<ion-item>
				<ion-label> Nickname </ion-label>
				{{ character.nickname }}
			</ion-item>

			<ion-item>
				<ion-label> Birthday </ion-label>
				{{ character.birthday }}
			</ion-item>

			<ion-item>
				<ion-label> Occupation </ion-label>
				{{ character.occupation }}
			</ion-item>

			<ion-item>
				<ion-label> Status </ion-label>
				{{ character.status }}
			</ion-item>

			<ion-item>
				<ion-label> Appeared in Season </ion-label>
				{{ character.appearance }}
			</ion-item>

		</ion-list>

	</ion-card>
</ion-content>